module "spring" {
  source = "./module-sample"

  # Vars automatically defined in provider.tf for best practices.
  # They are usually used to tag cloud resources with Cycloid information
  component          = var.component
  env                = var.env
  project            = var.project
  organization       = var.organization

  aws_region                  = local.database_region
  database_cluster_identifier = local.database_cluster_identifier
  web_image                   = var.web_image
  web_image_version           = var.web_image_version
  web_image_digest            = var.web_image_digest

#  vpc_id                        = module.vpc.vpc_id
#  public_subnets                = module.vpc.public_subnets
#  private_subnets               = module.vpc.private_subnets
}